#
# Misc.
#
 
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini
*.orig
.sass-cache/
 
 
#
# Other Version Control Directories
#
 
.svn
.hg
.hgignore
 
 
#
# Visual Studio
#

[Dd]ebug/
[Bb]uild/
[Rr]elease/
# [Bb]in/
[Oo]bj/
[Ou]tput/
*/*/[Ou]tput/

 
*.aps
*.bak
*.build.csdef
*.cache
*.ilk
*.lib
*.log
*.meta
*.ncb
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vspscc
*.[Pp]ublish.xml
*_i.c
*_p.c
.builds


#
#Umbraco Specifics
#

# Data folders/files (assumes structure of /source/project/, etc)

*/*/App_Data/ExamineIndexes/*
*/*/App_Data/umbraco.config
*/*/App_Browsers/*
*/*/App_Data/TEMP/*
*/*/App_Data/Logs/*
*/*/App_Data/ClientDependency
*/*/App_Data/courier/cache/*
*/*/App_Data/courier/revisions/
*/*/App_Data/justDelete_*
*/*/App_Data/Preview/*
*/*/_systemUmbracoIndexDontDelete/*

media/*/Cached
*/imagecache/*
thumbs.db

