<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<system.net>
		<!-- When developing locally place emails into a folder -->
    		<mailSettings>
	  		<smtp deliveryMethod="SpecifiedPickupDirectory">
		  		<specifiedPickupDirectory pickupDirectoryLocation="c:\temp\test-emails"/>
			 </smtp>
		</mailSettings>
  	</system.net>

	<system.webServer>
		<!-- Push 404 errors to a page that doesn't exist, so the Umbraco error page triggers -->
		<httpErrors errorMode="Custom">
				<remove statusCode="404" subStatusCode="-1" />
				<error statusCode="404" prefixLanguageFilePath="" path="/non-existing-page.aspx" responseMode="ExecuteURL" />
		</httpErrors>
	<system.webServer>
	
</configuration>
