<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Disable uSync in the production environments -->
  <usync xdt:Transform="SetAttributes" xdt:Locator="Match(element)"
    read="false" write="false" attach="false"></usync>
  
</configuration>